<div class="container">
  <button class="btn btn-primary">Test Bootstrap Button</button>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
    </ul>
  </div>
  <p-button label="Click Me" icon="pi pi-check"></p-button>
  <i class="bi bi-star-fill"></i> Star Icon
  <i class="bi bi-house"></i> House Icon
</div>

<router-outlet />
